<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="http://localhost:8080/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link href="/assets/output.css" rel="stylesheet" />
    <script type="module" crossorigin src="http://localhost:8080/assets/index-CdwqTVDt.js"></script>
    <link rel="stylesheet" crossorigin href="http://localhost:8080/assets/index-BOrnph5O.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
